<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/styles/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/academicons.min.css">
  <link rel="icon" type="image/jpg" href="images/nazar-amulet.svg"/>
  <script type="text/javascript" src="{{ site.baseurl }}/js/toggleBib.js"></script>

</head>



<body>
  <table style="width:100%;max-width:1400px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:20%;max-width:20%">
              <a href="https://giddyyupp.github.io/" target="_blank">
                <img style="width:100%;max-width:100%;border-radius: 10%;" alt="profile photo" src="images/profile.jpg">
              </a>
            </td>
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Nermin Samet
              </h1>
              <p>
              I am a Research Scientist at <a href="https://valeoai.github.io/publications/" target="_blank"> Valeo.ai</a>. Prior to joining Valeo.ai, I worked as a postdoctoral researcher at <a href="https://www.ecoledesponts.fr/" target="_blank"> ENPC ParisTech</a>, <a href="https://imagine-lab.enpc.fr/" target="_blank"> IMAGINE Research Group</a> with <a href="https://vincentlepetit.github.io/" target="_blank"> Prof. Vincent Lepetit</a>.
I obtained my Ph.D. degree in 2021 from the <a href="http://ceng.metu.edu.tr/" target="_blank"> Department of Computer Engineering</a> at <a href="http://www.metu.edu.tr/" target="_blank">METU</a> under supervision of <a href="http://user.ceng.metu.edu.tr/~emre/" target="_blank">Dr. Emre Akbas</a>. My primary research interests lie in computer vision, with a focus on data-efficient learning for 3D point clouds and human pose estimation.
              </p>
              <p style="text-align:center">
                <div class="contact-buttons">
                  <a href="mailto:nermin.samet@metu.edu.tr" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                  <a href="https://github.com/nerminsamet" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                  <a href="https://scholar.google.com/citations?user=kEVeHU0AAAAJ" target="_blank"><i class="ai ai-google-scholar fa-2x"></i></a>
                  <a href="https://www.linkedin.com/in/nermin-samet-a70007156" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
                  <a href="https://twitter.com/nemka_" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                  <a href="https://www.youtube.com/user/nemka911/videos" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
                  <!-- <a href="" target="_blank"><i class="fab fa-flickr fa-2x"></i></a> -->
                </div>
              </p>
            </td>
          </tr>
        </table>

        <hr>


<!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:2.5% 0% 0% 0%;width:100%;vertical-align:middle">
      <h2><b>Recent news and highlights:</b></h2>
    </td>
  </tr>
</table> -->
<p><strong>Recent highlights from our research group:</strong></p>
<!-- Elfsight LinkedIn Feed | Untitled LinkedIn Feed -->
<script src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-c6289d8d-7705-4cf2-9acf-ef6c9f4f86fd" data-elfsight-app-lazy></div>



        <hr>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5% 2.5% 0% 2.5%;width:100%;vertical-align:middle">
              <h2><b>Research</b></h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for research in site.categories.research %}
          {% for cat in research.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{research.title}}</h3>
              <br>
              {{research.authors}}

              <br>
              <em>{{research.venue}}</em> {{ research.date | date: "%Y" }}
              {%- if research.desc -%}, {{ research.desc }}{%- endif -%}
              <br>
              <div class="research-buttons">
                {% if research.arxiv %}
                <a href="{{research.arxiv}}" target="_blank"><button type="button" class="research-button"><i class="ai ai-arxiv fa-lg"></i><span>arXiv</span></button></a>
                {% endif %}
                {% if research.paper %}
                <a href="{{research.paper}}" target="_blank"><button type="button" class="research-button"><i class="far fa-file-pdf fa-lg"></i><span>Paper</span></button></a>
                {% endif %}
                {% if research.code %}
                <a href="{{research.code}}" target="_blank"><button type="button" class="research-button"><i class="fab fa-github fa-lg"></i><span>Code</span></button></a>
                {% endif %}
                {% if research.video %}
                <a href="{{research.video}}" target="_blank"><button type="button" class="research-button"><i class="fas fa-video fa-lg"></i><span>Video</span></button></a>
                {% endif %}
                {% if research.researcher %}
                <a href="{{research.researcher}}" target="_blank"><button type="button" class="research-button"><i class="far fa-file-pdf fa-lg"></i><span>Researcher</span></button></a>
                {% endif %}
                {% if research.slides %}
                <a href="{{research.slides}}" target="_blank"><button type="button" class="research-button"><i class="far fa-presentation fa-lg"></i><span>Slides</span></button></a>
                {% endif %}
                {% if research.bib %}
                <a href="javascript:toggleBib('{{research.bib}}')"><button type="button" class="research-button"><span>BibTeX</span></button></a>
                {% endif %}
              </div>
              {{ research.excerpt }}
              {% if research.bib %}
              <pre id="{{research.bib}}" style="display: none;">
                {%- include {{research.bib}} -%}
              </pre>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Inspired from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

